#title {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
}

body {
  background-image: url("https://www.eclectech.co.uk/b3ta/dicedance.gif");
  background-size: cover;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: 100;
}

body {
  /* background-color: #FEFBF3; */
  background-color: wheat;
  font-family: "Roboto", sans-serif;
}

#progres {
  background-color: rgba(255, 222, 222, 0.2);
  height: 250px;
  border-radius: 200px;
  margin: auto 75px;
}

#lifeprogres {
  font-family: "Pacifico", cursive;
  font-size: 36px;
}
h2 {
  text-align: center;
  position: relative;
  margin-bottom: 50px;
}

#bulats {
  justify-content: center;
  display: flex;
  margin-bottom: 100px;
}
.bulat {
  width: 30px;
  height: 30px;
  margin: 20px;
  background: #28ffbf;
  border-radius: 200%;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 8px #512d6d, inset 0 0 8px #512d6d;
  }
  50% {
    box-shadow: 0 0 16px #512d6d, inset 0 0 14px #512d6d;
  }
  100% {
    box-shadow: 0 0 8px #512d6d, inset 0 0 8px #512d6d;
  }
}

.active {
  /* background-color:transparent; */
  border-radius: 50px;
  box-shadow: 0 0 8px #512d6d, inset 0 0 8px #512d6d;
  -webkit-animation: pulse 2s linear 1s infinite;
}

.dead {
  background-color: #212121;
}

#start {
  font-size: large;
  margin-top: 50px;
  font-family: "Pacifico", cursive;
}

#end {
  font-size: large;
  margin-top: 50px;
  font-family: "Pacifico", cursive;
}

.kotak {
  display: flex;
  margin: 20px 20px;
  padding: 75px;
  font-size: 15pt;
  /* text-align: center; */
  color: #ffffff;
  justify-content: center;
}

#avatar {
  background: rgba(255, 255, 255, 0.6);
  width: 20%;
  height: 400px;
  margin-right: 50px;
  color: #212121;
  padding-top: 16px;
  border-radius: 12px;
  font-weight: bold;
}

#homescreen {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  height: 400px;
  margin-right: 50px;
  color: #212121;
  padding-top: 16px;
  border-radius: 12px;
  font-weight: bold;
}

#endscreen {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  height: 400px;
  margin-right: 50px;
  color: #212121;
  padding-top: 16px;
  border-radius: 12px;
  font-weight: bold;
}

#event {
  background: rgba(240, 248, 254, 0.4);
  width: 60%;
  height: 400px;
  /* margin-right: 50px;
  margin-left: 50px; */
  color: #212121;
  padding-top: 16px;
  border-radius: 12px;
}

.text-center {
  text-align: center;
  font-weight: bold;
}

#history {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  flex-direction: column;
  /* flex-grow: 5; */
  width: 20%;
  height: 400px;
  margin-left: 50px;
  color: #212121;
  padding-top: 16px;
  border-radius: 12px;
  /* position: relative; */
}
#history-box {
  display: flex;
  /* position: absolute; */
  width: 100%;
  top: 80px;
  /* bottom: 0; */
}
#balance {
  border: 1px solid red;
  width: 50%;
  padding: 12px;
}
#roll-dadu {
  border: 1px solid green;
  width: 100%;
  padding: 12px;
}

.roll {
  width: 75px;
  height: 50px;
  border: none;
  font: bold;
  background-color: #33ff99;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 blueviolet;
  transition: ease-out 0.3s;
  outline: none;
  font-size: 15px;
}

.roll:hover:enabled {
  box-shadow: inset 50px 0 0 0 blueviolet;
  cursor: pointer;
  color: black;
}

.reset {
  width: 75px;
  height: 50px;
  border: none;
  font: bold;
  background-color: #33ff99;
  border-radius: 5px;
  box-shadow: inset 0 0 0 0 red;
  transition: ease-out 0.3s;
  outline: none;
}
.reset:hover {
  box-shadow: inset 50px 0 0 0 red;
  cursor: pointer;
  color: black;
}

.dice-wrapper {
  display: flex;
  justify-content: center;
}

#dice {
  margin: 25px 50px;
}
